<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.robot_server.dao.BotKeywordMapper">
  <resultMap id="BaseResultMap" type="com.chris.robot_server.model.BotKeyword">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="key_word" jdbcType="VARCHAR" property="keyWord" />
    <result column="key_value" jdbcType="VARCHAR" property="keyValue" />
    <result column="enable" jdbcType="TINYINT" property="enable" />
    <result column="type" jdbcType="TINYINT" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, key_word, key_value, enable, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bot_keyword
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAllEnabled" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bot_keyword
    where enable = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bot_keyword
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.chris.robot_server.model.BotKeyword">
    insert into bot_keyword (id, create_time, update_time, 
      key_word, key_value, enable, 
      type)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{keyWord,jdbcType=VARCHAR}, #{keyValue,jdbcType=VARCHAR}, #{enable,jdbcType=TINYINT}, 
      #{type,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.chris.robot_server.model.BotKeyword">
    insert into bot_keyword
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="keyWord != null">
        key_word,
      </if>
      <if test="keyValue != null">
        key_value,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keyWord != null">
        #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="keyValue != null">
        #{keyValue,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chris.robot_server.model.BotKeyword">
    update bot_keyword
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keyWord != null">
        key_word = #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="keyValue != null">
        key_value = #{keyValue,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chris.robot_server.model.BotKeyword">
    update bot_keyword
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      key_word = #{keyWord,jdbcType=VARCHAR},
      key_value = #{keyValue,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=TINYINT},
      type = #{type,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>