<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.robot_server.dao.TelegramGroupMapper">
  <resultMap id="BaseResultMap" type="com.chris.robot_server.model.TelegramGroup">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="last_message_id" jdbcType="INTEGER" property="lastMessageId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="bot_id" jdbcType="BIGINT" property="botId" />
    <result column="settings" jdbcType="VARCHAR" property="settings" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_id, title, type, create_time, update_time, status, last_message_id, token, bot_id, settings
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from telegram_group
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="existsByGroupIdAndToken" parameterType="map" resultType="boolean">
    SELECT COUNT(1) > 0 FROM telegram_group WHERE group_id = #{groupId} AND token = #{token}
  </select>
  <select id="findByStatus" resultMap="BaseResultMap">
    SELECT * FROM telegram_group WHERE status = #{status}
  </select>
  <select id="findByGroupIdAndToken" parameterType="map" resultMap="BaseResultMap">
    SELECT * FROM telegram_group WHERE group_id = #{groupId} AND token = #{token}
  </select>
  <select id="selectAllGroups" resultMap="BaseResultMap">
    SELECT * FROM telegram_group
  </select>
  <delete id="deleteByGroupIdAndToken" parameterType="map">
    DELETE FROM telegram_group WHERE group_id = #{groupId} AND token = #{token}
  </delete>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from telegram_group
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.chris.robot_server.model.TelegramGroup">
    insert into telegram_group (id, group_id, title, 
      type, create_time, update_time, token, settings
      )
    values (#{id,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{token,jdbcType=VARCHAR}, #{settings,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chris.robot_server.model.TelegramGroup">
    insert into telegram_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="botId != null">
        bot_id,
      </if>
      <if test="settings != null">
        settings,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="botId != null">
        #{botId,jdbcType=BIGINT},
      </if>
      <if test="settings != null">
        #{settings,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateStatusByGroupIdAndToken" parameterType="map">
    update telegram_group
    set status = #{status,jdbcType=TINYINT}
    where group_id = #{groupId,jdbcType=BIGINT} AND token = #{token,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chris.robot_server.model.TelegramGroup">
    update telegram_group
    <set>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="lastMessageId != null">
        last_message_id = #{lastMessageId,jdbcType=INTEGER},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="botId != null">
        bot_id = #{botId,jdbcType=BIGINT},
      </if>
      <if test="settings != null">
        settings = #{settings,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chris.robot_server.model.TelegramGroup">
    update telegram_group
    set group_id = #{groupId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      token = #{token,jdbcType=VARCHAR},
      bot_id = #{botId,jdbcType=BIGINT},
      settings = #{settings,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>